<form action="upload" method="post" accept-charset="utf-8" enctype="multipart/form-data">
  <div>
    <input type="file" name="file" value="" id="file">
  </div>
  <div>
    <input type="submit" value="Upload &uarr;">
  </div>
</form>
